{% extends "base.html.twig" %}
{% block title 'Grands Lacs News | Acceuil' %}
{% block stylesheets %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,700|Roboto:400,500,700&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
  <div class="container">
    <div class="emergency">
        <div class="em-title">
            dernière minute
        </div>
        <div id="carouselContent" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for post in posts %}
                <div class="carousel-item">
                    <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                        <p>{{ post.title }} Lorem ipsum dolor sit amet consectetur.</p>
                    </a>
                </div>
            {% endfor %}
          </div>
          <a class="carousel-text-prev" href="#carouselContent" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
          </a>
          &nbsp;&nbsp;
          <a class="carousel-text-next"  href="#carouselContent" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
    </div>
    {% set topPost, news2, news3, news4 = posts.0, posts.1, posts.2, posts.3  %}
    <div class="top-news">
      <div class="top-post">
        <div class="post-container">
          <a href="{{ path('post.show', {id: topPost.id, slug: topPost.slug}) }}">
              {% if topPost.picture %}
                <img src="{{ vich_uploader_asset(topPost.picture, 'imageFile') | imagine_filter('medium') }}" alt="">
              {% else %}
                <img src="{{ '/images/noimage.png' | imagine_filter('medium') }}" alt="" title="{{ topPost.title }}">
              {% endif %}
          </a>
        </div>
        <div class="post-infos">
          <div class="post-infos-head">
            <a href="" class="post-category">{{ topPost.category.title }}</a>
            <h3>
              {{ topPost.title }}
            </h3>
          </div>
          <div class="post-infos-details">
            <span class="post-author">
              Armin Vans
            </span>
            <span>-</span>
            <span>
              {{ topPost.createdAt | date("d F, Y") }}
            </span>
          </div>
        </div>
      </div>
      <div class="last-news">
        <div class="top-news-2">
          <div class="post-container">
            <a href="{{ path('post.show', {id: news2.id, slug: news2.slug}) }}">
                {% if news2.picture %}
                  <img src="{{ vich_uploader_asset(news2.picture, 'imageFile') | imagine_filter('medium') }}" alt="">
                {% else %}
                  <img src="{{ '/images/noimage.png' | imagine_filter('medium') }}" alt="" title="{{ news2.title }}">
                {% endif %}
            </a>
          </div>
          <div class="post-infos">
            <div class="post-infos-head">
              <a href="" class="post-category">{{ news2.category.title }}</a>
              <h6>
                {{ news2.title }}
              </h6>
            </div>
          </div>
        </div>
        <div class="top-news-3">
          <div class="post-item">
            <div class="post-container">
              <a href="{{ path('post.show', {id: news3.id, slug: news3.slug}) }}">
                  {% if news3.picture %}
                  <img src="{{ vich_uploader_asset(news3.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                  {% else %}
                    <img src="{{ '/images/noimage.png' | imagine_filter('thumb') }}" alt="" title="{{ news3.title }}">
                  {% endif %}
              </a>
            </div>
            <div class="post-infos">
              <div class="post-infos-head">
                <a href="" class="post-category">{{ news3.category.title }}</a>
                <h6>
                  {{ news3.title }}
                </h6>
              </div>
              
            </div>
          </div>
          <div class="post-item">
            <div class="post-container">
              <a href="{{ path('post.show', {id: news4.id, slug: news4.slug}) }}">
                  {% if news4.picture %}
                    <img src="{{ vich_uploader_asset(news4.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                  {% else %}
                    <img src="{{ '/images/noimage.png' | imagine_filter('thumb') }}" alt="" title="{{ news4.title }}">
                  {% endif %}
              </a>
            </div>
            <div class="post-infos">
              <div class="post-infos-head">
                <a href="" class="post-category">{{ news4.category.title }}</a>
                <h6>
                  {{ news4.title }}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 site-wrapper">
        <div class="cat-high-title">
          <h6>à ne pas manquer</h6>
          <div class="cat-high-menu">
            <ul>
              <li>
                  <a href="">Tout</a>
              </li>
              <li>
                  <a href="">RDC</a>
              </li>
              <li>
                  <a href="">Nord-Kivu</a>
              </li>
              <li>
                  <a href="">Grand-Lacs</a>
              </li>
              <li class="sub-menu">
                  Plus&nbsp;&nbsp;<i class="fas fa-chevron-down"></i>
                <ul>
                  <a href="">
                    <li>économie</li>
                  </a>
                  <a href="">
                    <li>Sécurité</li>
                  </a>
                  <a href="">
                    <li>Science</li>
                  </a>
                  <a href="">
                    <li>Culture</li>
                  </a>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="cat-highlights">
          <div class="row cat-high-body">
            <div class="col-md-6 cat-post-details">
              <div class="cat-post-img">
                <a href="{{ path('post.show', {id: topPost.id, slug: topPost.slug}) }}">
                    {% if topPost.picture %}
                      <img src="{{ vich_uploader_asset(topPost.picture, 'imageFile') | imagine_filter('medium') }}" alt="">
                    {% else %}
                      <img src="{{ '/images/noimage.png' | imagine_filter('medium') }}" alt="" title="{{ topPost.title }}"></a>
                    {% endif %}
                <a href="" class="item-cat">{{ topPost.category.title }}</a>
              </div>
              <div class="cat-post-body">
                <a href="{{ path('post.show', {id: topPost.id, slug: topPost.slug}) }}"><h5>{{ topPost.title }}</h5></a>
                <div class="cat-post-infos">
                  <span class="td-post-author-name"><a href="">John Doe</a> <span>-</span> </span>
                  <span class="td-post-date">Apr 12, 2017</span>
                  <div class="td-module-comments"><a href="{{ path('post.show', {id: topPost.id, slug: topPost.slug}) }}#comments">{{ topPost.comments | length }}</a></div>
                </div>
                <div class="cat-post-excerpt">
                  {{ topPost.content | truncate(100) }}
                </div>
              </div>
            </div>
            <div class="col-md-6 cat-items">
              {% for post in posts %}
                <div class="cat-item-post">
                  <div class="item-thumb">
                    <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                        {% if post.picture %}
                          <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                        {% else %}
                          <img src="{{ '/images/noimage.png'| imagine_filter('thumb') }}" alt="{{ post.title }}" title="{{ post.title }}"></a>
                        {% endif %}
                  </div>
                  <div class="item-details">
                    <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}"><h6>Traveling Tends to Magnify All Human Emotions</h6></a>
                    <span>{{ post.createdAt | date("d F, Y") }}</span>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="cat-high-title last-articles-title">
          <h6>Derniers articles</h6>
        </div>
        <div class="row last-articles">
          {% for post in posts | slice(0, 3) %}
            <div class="col-md-4 last-art-item">
              <div class="cat-post-img">
                <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                    {% if post.picture %}
                      <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                    {% else %}
                      <img src="{{ '/images/noimage.png'| imagine_filter('thumb') }}" alt="" title="{{ post.title }}"></a>
                    {% endif %}
                <a href="" class="item-cat">{{ post.category.title }}</a>
              </div>
              <div class="cat-post-body">
                <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}"><h6>{{ post.title }}</h6></a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="cat-high-title social-panel-title">
          <h6>Restez connectés</h6>
        </div>
        <div class="connect-link">
          <div>
            <a href="">
              <span class="connect-icon"><i class="fab fa-facebook-f"></i></span>
              <span class="text-connect">1000 Likes</span>
              <span class="connect-action">Liker</span>
            </a>
          </div>
          <div>
            <a href="">
                <span class="connect-icon"><i class="fab fa-twitter"></i></span>
                <span class="text-connect">1630 Followers</span>
                <span class="connect-action">Follow</span>
            </a>
          </div>
          <div>
            <a href="">
              <span class="connect-icon"><i class="fab fa-youtube"></i></span>
              <span class="text-connect">9361 Abonnés</span>
              <span class="connect-action">S'abonner</span>
            </a>
          </div>
        </div>
        <hr>
        <div class="cat-high-title popular-articles-title">
          <h6>articles populaires</h6>
        </div>
        <div class="bd-example carousel-last-posts">
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% for post in posts %}
                <div class="carousel-item">
                  <div class="carousel-post">
                    <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                        {% if post.picture %}
                          <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                        {% else %}
                            <img src="{{ '/images/noimage.png'| imagine_filter('thumb') }}" alt="" title="{{ post.title }}"></a>
                        {% endif %}
                  </div>
                  <div class="post-infos">
                    <div class="post-infos-head">
                      <a href="" class="post-category">{{ post.category.title }}</a>
                      <h6>
                        {{ post.title }}
                      </h6>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <br>
        <div class="pub-1">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-8 top-articles">
        <div class="cat-high-title top-articles-title">
          <h6>à lire aussi</h6>
        </div>
        {% for post in posts %}
          <div class="row cat-item-post">
            <div class="col-md-4 item-thumb">
              <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                  {% if post.picture %}
                    <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                  {% else %}
                    <img src="{{ '/images/noimage.png'| imagine_filter('thumb') }}" alt="" title="{{ post.title }}"></a>
                  {% endif %}
            </div>
            <div class="col-md-8 item-details">
              <a href=""><h5>{{ post.title }}</h5></a>
              <div class="cat-post-infos">
                <span class="td-post-author-name"><a href="">John Doe</a> <span>-</span> </span>
                <span class="td-post-date">{{ post.createdAt | date("d F, Y") }}</span>
                <div class="td-module-comments"><a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}#comments">{{ post.comments | length }}</a></div>
              </div>
              <div class="cat-post-excerpt">
                {{ post.content | truncate(200) }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-md-4">
        <div class="cat-high-title top-articles-title">
          <h6>analyses et reportages</h6>
        </div>
        <div class="reports">
          {% for post in posts | slice(1, 3) %}
            <div class="report-item">
              <a href=""><span class="report-cat">{{ post.category.title }}</span></a>
              <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}"><h5>{{ post.title }}</h5></a>
            </div>
            <hr>
          {% endfor %}
          <a href=""><span class="more">Voir plus</span></a>
        </div>
        <br>
        <div class="cat-high-title social-panel-title">
          <h6>émissions et interviews</h6>
        </div>
        <div class="reports">
          {% for post in posts | slice(1, 3) %}
            <div class="report-item">
              <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}"><h6>{{ post.title }}</h6></a>
              <a href=""><span class="interview-cat">{{ post.category.title }}</span></a>
            </div>
            <hr>
          {% endfor %}
          <a href=""><span class="more">Voir plus</span></a>
        </div>
      </div>
    </div>
    <hr>
    <div class="pub-2">
    </div>
  </div>
  <br>
{% endblock  %}