{% extends "base.html.twig" %}
{% block title 'Grands Lacs News | Acceuil' %}
{% block stylesheets %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,700|Roboto:400,500,700&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
  <div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mb-0">
            {{ message }}
        </div>
    {% endfor %}
    <div class="emergency">
      <div class="em-title">
          dernière minute
      </div>
      <div id="carouselContent" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
          {% for p in lastPosts | slice(0, 4) %}
          {% set post = p[0] %}
            <div class="carousel-item">
                <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                    <p>{{ post.title }}</p>
                </a>
            </div>
          {% endfor %}
          </div>
          <a class="carousel-text-prev" href="#carouselContent" role="button" data-slide="prev">
              <i class="fas fa-chevron-left"></i>
          </a>
          &nbsp;&nbsp;
          <a class="carousel-text-next"  href="#carouselContent" role="button" data-slide="next">
              <i class="fas fa-chevron-right"></i>
          </a>
      </div>
    </div>
    {% set topPost, news2, news3, news4 = topPosts[0][0], topPosts[1][0], topPosts[2][0], topPosts[3][0]  %}
    <div class="top-news">
      <div class="top-post">
        <div class="post-container">
          <a href="{{ path('post.show', {id: topPost.id, slug: topPost.slug}) }}">
              {% if topPost.picture %}
                <img src="{{ vich_uploader_asset(topPost.picture, 'imageFile') | imagine_filter('medium') }}" alt="">
              {% else %}
                <img src="{{ '/images/noimage.png' | imagine_filter('medium') }}" alt="" title="{{ topPost.title }}">
              {% endif %}
          </a>
        </div>
        <div class="post-infos">
          <div class="post-infos-head">
            <a href="{{ path('category.show', {id: topPosts[0].id, slug: topPost.category.slug}) }}" class="post-category">{{ topPosts[0].title }}</a>
            <h3>
              {{ topPost.title }}
            </h3>
          </div>
          <div class="post-infos-details">
            <a href="{{ path('profil.show', {id: topPosts[0].authorId }) }}">
              <span class="post-author">
                {% if posts[0].pseudo is not null %}
                  {{ posts[0].pseudo }}
                {% else %}
                  {{ posts[0].username }}
                {% endif %}
              </span>
            </a>
            <span>-</span>
            <span>
              {{ topPost.createdAt | ago }}
            </span>
          </div>
        </div>
      </div>
      <div class="last-news">
        <div class="top-news-2">
          <div class="post-container">
            <a href="{{ path('post.show', {id: news2.id, slug: news2.slug}) }}">
                {% if news2.picture %}
                  <img src="{{ vich_uploader_asset(news2.picture, 'imageFile') | imagine_filter('medium') }}" alt="">
                {% else %}
                  <img src="{{ '/images/noimage.png' | imagine_filter('medium') }}" alt="" title="{{ news2.title }}">
                {% endif %}
            </a>
          </div>
          <div class="post-infos">
            <div class="post-infos-head">
              <a href="{{ path('category.show', {id: topPosts[1].id, slug: news2.category.slug}) }}" class="post-category">{{ topPosts[1].title }}</a>
              <h6>
                {{ news2.title }}
              </h6>
            </div>
          </div>
        </div>
        <div class="top-news-3">
          <div class="post-item">
            <div class="post-container">
              <a href="{{ path('post.show', {id: news3.id, slug: news3.slug}) }}">
                  {% if news3.picture %}
                  <img src="{{ vich_uploader_asset(news3.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                  {% else %}
                    <img src="{{ '/images/noimage.png' | imagine_filter('thumb') }}" alt="" title="{{ news3.title }}">
                  {% endif %}
              </a>
            </div>
            <div class="post-infos">
              <div class="post-infos-head">
                <a href="{{ path('category.show', {id: topPosts[2].id, slug: news3.category.slug}) }}" class="post-category">{{ topPosts[2].title }}</a>
                <h6>
                  {{ news3.title }}
                </h6>
              </div>
            </div>
          </div>
          <div class="post-item">
            <div class="post-container">
              <a href="{{ path('post.show', {id: news4.id, slug: news4.slug}) }}">
                  {% if news4.picture %}
                    <img src="{{ vich_uploader_asset(news4.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                  {% else %}
                    <img src="{{ '/images/noimage.png' | imagine_filter('thumb') }}" alt="" title="{{ news4.title }}">
                  {% endif %}
              </a>
            </div>
            <div class="post-infos">
              <div class="post-infos-head">
                <a href="{{ path('category.show', {id: topPosts[3].id, slug: news4.category.slug}) }}" class="post-category">{{ topPosts[3].title }}</a>
                <h6>
                  {{ news4.title }}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="cat-high-title">
          <h6>à ne pas manquer</h6>
          <div class="cat-high-menu">
            <ul>
              <li>
                  <a href="">Tout</a>
              </li>
              {% for c in categories | slice(0, 3) %}
                <li>
                  <a href="">{{ c.title }}</a>
                </li>
              {% endfor %}
              <li class="sub-menu">
                  Plus&nbsp;&nbsp;<i class="fas fa-chevron-down"></i>
                <ul>
                  {% for c in categories | slice(3, 20) %}
                    <a href="">
                      <li>{{ c.title }}</li>
                    </a>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="cat-highlights">
          <div class="row cat-high-body">
            <div class="col-md-6 cat-post-details">
              <div class="cat-post-img">
                {% if topPosts | length > 8 %}
                  {% set topItems = topPosts %}
                {% else %}
                  {% set topItems = posts %}
                {% endif %}
                {% set topItem = topItems[4][0] %}
                <a href="{{ path('post.show', {id: topItem.id, slug: topItem.slug}) }}">
                  {% if topItem.picture %}
                    <img src="{{ vich_uploader_asset(topItem.picture, 'imageFile') | imagine_filter('medium') }}" alt="">
                  {% else %}
                    <img src="{{ '/images/noimage.png' | imagine_filter('medium') }}" alt="" title="{{ topItem.title }}">
                  {% endif %}
                </a>
                <a href="{{ path('category.show', {id: topItems[4].id, slug: topItem.category.slug}) }}" class="item-cat">{{ topItems[4].title }}</a>
              </div>
              <div class="cat-post-body">
                <a href="{{ path('post.show', {id: topItem.id, slug: topItem.slug}) }}"><h5>{{ topItem.title }}</h5></a>
                <div class="cat-post-infos">
                  <span class="td-post-author-name">
                    <a href="{{ path('profil.show', {id: topItems[4].authorId }) }}">
                      {% if topItems[4].pseudo is not null %}
                        {{ topItems[4].pseudo }}
                      {% else %}
                        {{ topItems[4].username }}
                      {% endif %}
                    </a> 
                  <span>
                  </span> - </span>
                  <span class="td-post-date">{{ topItem.createdAt | ago }}</span>
                  <div class="td-module-comments"><a href="{{ path('post.show', {id: topItem.id, slug: topItem.slug}) }}#comments">{{ posts[0].commentsNb }}</a></div>
                </div>
                <div class="cat-post-excerpt">
                  {{ topItem.content | striptags | truncate(100) }}
                </div>
              </div>
            </div>
            <div class="col-md-6 cat-items">
              {% for p in topItems | slice(5, 4) %}
                {% set post = p[0] %}
                <div class="cat-item-post">
                  <div class="item-thumb">
                    <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                        {% if post.picture %}
                          <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                        {% else %}
                          <img src="{{ '/images/noimage.png'| imagine_filter('thumb') }}" alt="{{ post.title }}" title="{{ post.title }}"></a>
                        {% endif %}
                  </div>
                  <div class="item-details">
                    <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}"><h6>{{ post.title }}</h6></a>
                    <span>{{ post.createdAt | ago }}</span>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="cat-high-title last-articles-title">
          <h6>Derniers articles</h6>
        </div>
        <div class="row last-articles">
          {% for p in lastPosts | slice(3, 3) %}
          {% set post = p[0] %}
          <div class="col-md-4 last-art-item">
              <div class="cat-post-img">
              <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                  {% if post.picture %}
                      <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                  {% else %}
                      <img src="{{ '/images/noimage.png'| imagine_filter('thumb') }}" alt="" title="{{ post.title }}"></a>
                  {% endif %}
              <a href="{{ path('category.show', {id: p.id, slug: post.category.slug}) }}" class="item-cat">{{ p.title }}</a>
              </div>
              <div class="cat-post-body">
              <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}"><h6>{{ post.title }}</h6></a>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="cat-high-title social-panel-title">
          <h6>Restez connectés</h6>
        </div>
        <div class="connect-link">
          <div>
            <a href="">
              <span class="connect-icon"><i class="fab fa-facebook-f"></i></span>
              {# <span class="text-connect">1000 Likes</span> #}
              <span class="connect-action">Liker</span>
            </a>
          </div>
          <div>
            <a href="">
                <span class="connect-icon"><i class="fab fa-twitter"></i></span>
                {# <span class="text-connect">1630 Followers</span> #}
                <span class="connect-action">Follow</span>
            </a>
          </div>
          <div>
            <a href="">
              <span class="connect-icon"><i class="fab fa-youtube"></i></span>
              {# <span class="text-connect">9361 Abonnés</span> #}
              <span class="connect-action">S'abonner</span>
            </a>
          </div>
        </div>
        <hr>
        <div class="cat-high-title popular-articles-title">
          <h6>articles populaires</h6>
        </div>
        <div class="bd-example carousel-last-posts">
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% for p in popularPosts %}
              {% set post = p[0] %}
                {% if (post.id != topPost.id) and (post.id != news2.id) and (post.id != news3.id) and (post.id != news4.id) and (post.id != topItem.id) %}
                  <div class="carousel-item">
                    <div class="carousel-post">
                      <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                          {% if post.picture %}
                            <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                          {% else %}
                              <img src="{{ '/images/noimage.png'| imagine_filter('thumb') }}" alt="" title="{{ post.title }}"></a>
                          {% endif %}
                    </div>
                    <div class="post-infos">
                      <div class="post-infos-head">
                        <a href="{{ path('category.show', {id: p.id, slug: post.category.slug}) }}" class="post-category">{{ p.title }}</a>
                        <h6>
                          {{ post.title }}
                        </h6>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <br>
        <div class="pub-1">
        </div>
      </div>
    </div>
    <div class="scroll-div mb-2"></div>
    <div class="row">
      <div class="col-md-8 top-articles js-home">
        <div class="cat-high-title top-articles-title">
          <h6>à lire aussi</h6>
        </div>
        <div class="js-home-content" style="position: relative;">
          {% include "post/_homePosts.html.twig" %}
        </div>
        <div class="pagination justify-content-center js-home-pagination">
          {% include "post/_homePagination.html.twig" %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="cat-high-title top-articles-title">
          <h6>analyses et reportages</h6>
        </div>
        <div class="reports">
          {% for post in cat6.posts | sort((b, a) => a.id <=> b.id) | slice(1, 4) %}
            <div class="report-item">
              <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}"><h6>{{ post.title }}</h6></a>
            </div>
            <hr>
          {% endfor %}
          <a href="{{ path('category.show', {id: cat6.id, slug: cat6.slug}) }}"><span class="more">Voir plus</span></a>
          <br>
        </div>
        <br>
        <div class="cat-high-title social-panel-title">
          <h6>émissions et interviews</h6>
        </div>
        <div class="reports">
          {% for post in cat7.posts | sort((b, a) => a.id <=> b.id) | slice(1, 4) %}
            <div class="report-item">
              <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}"><h6>{{ post.title }}</h6></a>
            </div>
            <hr>
          {% endfor %}
          <a href="{{ path('category.show', {id: cat7.id, slug: cat7.slug}) }}"><span class="more">Voir plus</span></a>
          <br>
        </div>
        <hr>
        <div class="text-center">
          <a href="{{ path('post.index') }}" class="btn btn-primary">
            Explorer tous les articles
          </a >
        </div>
      </div>
    </div>
    <hr>
    <div class="pub-2">
    </div>
  </div>
  <br>
{% endblock  %}