
{% if posts is defined %}
    <div class="row post-reminder">
        <div class="col-md-4">
            <h4>à ne pas manquer</h4>
            <div class="cat-items">
                {% for post in posts | slice(0, 3) %}
                    <div class="cat-item-post">
                        <div class="item-thumb">
                            <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                                {% if post.picture %}
                                    <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="{{ post.title }}" title="{{ post.title }}" class="card-img-top">
                                {% else %}
                                    <img src="{{ '/images/noimage.png' | imagine_filter('thumb') }}" alt="{{ post.title }}" title="{{ post.title }}" class="card-img-top">
                                {% endif %}
                            </a>
                        </div>
                        <div class="item-details">
                            <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                                <h6>{{ post.title }} Lorem ipsum dolor sit amet consectetur.</h6>
                            </a>
                            <span>{{ post.createdAt | ago }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <h4>articles populaires</h4>
            <div class="cat-items">
                {% for p in popularPosts | slice(0, 3) %}
                {% set post = p[0] %}
                    <div class="cat-item-post">
                        <div class="item-thumb">
                            <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                                {% if post.picture %}
                                    <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="{{ post.title }}" title="{{ post.title }}" class="card-img-top">
                                {% else %}
                                    <img src="{{ '/images/noimage.png' | imagine_filter('thumb') }}" alt="{{ post.title }}" title="{{ post.title }}" class="card-img-top">
                                {% endif %}
                            </a>
                        </div>
                        <div class="item-details">
                            <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                                <h6>{{ post.title }} Lorem ipsum dolor sit amet consectetur.</h6>
                            </a>
                            {#<span>{{ post.createdAt | localizeddate('medium') }}</span>#}
                            <span>{{ post.createdAt | ago }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <h4>catégories populaires</h4>
            <ul>
                {% if categories is defined %}
                    {#{% for category in categories | sort((b, a) => a.posts | length <=> b.posts | length) | slice(0, 8) %}#}
                    {% for c in categories %}
                    {% set category = c[0] %}
                        <li>
                            <a href="{{ path('category.show', {id: category.id, slug: category.slug}) }}">
                                <span>{{ category.title }}</span>
                                <span class="cat-nb">{{ c.postsNb }}</span>
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}