
{% for p in lastPosts | slice(3, 3) %}
    {% set post = p[0] %}
    <div class="col-md-4 last-art-item">
        <div class="cat-post-img">
        <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
            {% if post.picture %}
                <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
            {% else %}
                <img src="{{ '/images/noimage.png'| imagine_filter('thumb') }}" alt="" title="{{ post.title }}"></a>
            {% endif %}
        <a href="{{ path('category.show', {id: p.id, slug: post.category.slug}) }}" class="item-cat">{{ p.title }}</a>
        </div>
        <div class="cat-post-body">
        <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}"><h6>{{ post.title }}</h6></a>
        </div>
    </div>
{% endfor %}