{% set cat6, cat7 = categories[5], categories[6] %}
<div class="col-md-4">
    <div class="cat-high-title top-articles-title">
        <h6>analyses et reportages</h6>
    </div>
    <div class="reports">
        {% for post in cat6.posts | sort((b, a) => a.id <=> b.id) | slice(1, 4) %}
        <div class="report-item">
            <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}"><h6>{{ post.title }}</h6></a>
        </div>
        <hr>
        {% endfor %}
        <a href="{{ path('category.show', {id: cat6.id, slug: cat6.slug}) }}"><span class="more">Voir plus</span></a>
        <br>
    </div>
    <br>
    <div class="cat-high-title social-panel-title">
        <h6>émissions et interviews</h6>
    </div>
    <div class="reports">
        {% for post in cat7.posts | sort((b, a) => a.id <=> b.id) | slice(1, 4) %}
        <div class="report-item">
            <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}"><h6>{{ post.title }}</h6></a>
        </div>
        <hr>
        {% endfor %}
        <a href="{{ path('category.show', {id: cat7.id, slug: cat7.slug}) }}"><span class="more">Voir plus</span></a>
        <br>
    </div>
    <hr>
    <div class="text-center">
        <a href="{{ path('post.index') }}" class="btn btn-primary">
        Explorer tous les articles
        </a >
    </div>
</div>