
<div class="cat-high-title social-panel-title">
    <h6>à ne pas manquer</h6>
</div>
<div class="sidebar-posts filter" style="top: -80px;">
    <div class="cat-post-details">
        <div class="cat-post-img">
            {% set topPost = posts[0] %}
            <a href="{{ path('post.show', {id: topPost.id, slug: topPost.slug}) }}">
                {% if topPost.picture %}
                    <img src="{{ vich_uploader_asset(topPost.picture, 'imageFile') | imagine_filter('medium') }}" alt="" title="{{ topPost.title }}">
                {% else %}
                    <img src="{{ '/images/noimage.png'| imagine_filter('thumb') }}" title="{{ topPost.title }}"></a>
                {% endif %}
            </a>
            <a href="{{ path('category.show', {id: topPost.category.id, slug: topPost.category.slug}) }}" class="item-cat">{{ topPost.category.title }}</a>
        </div>
        <div class="cat-post-body">
            <a href="{{ path('post.show', {id: topPost.id, slug: topPost.slug}) }}">
                <h5>{{ topPost.title }}</h5>
            </a>
            <div class="cat-post-infos">
                <span class="td-post-author-name">
                    <a href="">
                        {% if topPost.author.pseudo is not null %}
                            {{ topPost.author.pseudo }}
                        {% else %}
                            {{ topPost.author.username }}
                        {% endif %}
                    </a> 
                    <span>-</span> 
                </span>
                <span class="td-post-date">{{ topPost.createdAt | ago }}</span>
                <div class="td-module-comments"><a href="">{{ topPost.comments | length }}</a></div>
            </div>
            <div class="cat-post-excerpt">
                {{ topPost.content | striptags | truncate(200) }}
            </div>
        </div>
    </div>
    <br>
    <div class="cat-items">
        {% for post in posts | slice(1, 4) %}
            <div class="cat-item-post">
                <div class="item-thumb">
                    <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                        {% if post.picture %}
                            <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="" title="{{ post.title }}">
                        {% else %}
                            <img src="{{ '/images/noimage.png'| imagine_filter('thumb') }}" title="{{ post.title }}"></a>
                        {% endif %}
                    </a>
                </div>
                <div class="item-details">
                    <h6>
                        <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">{{ post.title }}</a>
                    </h6>
                    <span>{{ post.createdAt | ago }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

</div>