{{ form_start(form) }}

    <div class="row">
        <div class="col-md-10">{{ form_row(form.title) }}</div>
        <div class="col-md-2">{{ form_row(form.views) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row(form.category) }}</div>
        <div class="col-md-4">{{ form_row(form.online, { 'attr': {'class': 'form-control'}}) }}</div>
        <div class="col-md-4">{{ form_row(form.tags) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row(form.pictureFiles) }}</div>
        <div class="col-md-8">
            {% for picture in post.pictures %}
                <div class="col" style="width: 210px; height:auto; flex: none; display:inline-block;">
                    {% if vich_uploader_asset(picture, 'imageFile') is not null %}
                        <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                        <a href="{{ path('admin.picture.delete', {id: picture.id}) }}" class="btn btn-danger" data-delete data-token="{{ csrf_token('delete' ~ picture.id) }}" onsubmit="return confirm('Etes-vous vraiment sûr ?')">
                            Supprimer
                        </a>
                        <a href="{{ vich_uploader_asset(picture, 'imageFile') }}" class="btn btn-secondary copy-link" data-link="AMD">Copier</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form_row(form.content, {'attr': {'rows': 15}}) }}</div>
    </div>
{{ form_rest(form) }}
    <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
<br>