{{ form_start(form) }}
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">{{ form_row(form.title) }}</div>
                <div class="col-md-4">{{ form_row(form.category) }}</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row(form.pictureFiles) }}</div>
        <div class="col-md-6">
            <div>
                {% for picture in post.pictures %}
                    <div class="col" style="width: 200px; height:auto; flex: none; margin:5px;">
                        {% if vich_uploader_asset(picture, 'imageFile') is not null %}
                            <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                            <a href="{{ path('admin.picture.delete', {id: picture.id}) }}" class="btn btn-danger" data-delete data-token="{{ csrf_token('delete' ~ picture.id) }}">
                                Supprimer
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form_row(form.content) }}</div>
    </div>
{{ form_rest(form) }}
    <br>
    <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}