{% extends "base.html.twig" %}
{% block title 'Dashboard' %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les articles</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="text-right">
            <a href="{{ path('admin.post.new') }}" class="btn btn-primary">Ajouter un article</a>
        </div>
        <div class="table-responsive">
            
        <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Titre</th>
                        <th>Vues</th>
                        <th>Tags</th>
                        <th>Actions</th>
                    </tr>
                    <tbody>
                        {% for post in posts %}
                            <tr>
                                <td><a href="{{path('post.show', {id: post.id, slug: post.slug})}}">{{ post.id }}</a></td>
                                <td>{{ post.title | truncate(50) }}</td>
                                <td>{{ post.views }}</td>
                                <td>
                                    {% for tag in post.tags | slice(0, 3) %}
                                        <a href="{{ path('admin.post.index') }}?tag={{ tag }}">{{ tag }}</a>
                                    {% endfor %}
                                </td>
                                <td class="text-right">
                                    <a href="{{ path('admin.post.edit', {id: post.id}) }}" class="btn btn-secondary">Editer</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <form method="post" action="{{ path('admin.post.delete', {id: post.id}) }}" style="display: inline-block;" onsubmit="return confirm('Etes-vous vraiment sûr ?')">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                                            <button class="btn btn-danger">Supprimer</button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
        <div class="pagination justify-content-center">
                {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock  %}