{% extends "base.html.twig" %}

{% block metadata %}
  <script data-ad-client="ca-pub-9418812504960394" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

{% block title category.title ~ ' | Grands Lacs News' %}
    
{% block body %}
    <div class="td-category-header mt-0 mb-2">
        <div class="container">
            <br>
            <div class="crumb mb-0 pb-0">
                <span>
                <a href="{{ path('home') }}">Accueil</a>
                </span>
                <i class="fas fa-chevron-right"></i>
                <span>
                    <a>{{ category.title }}</a>
                </span>
            </div>
            <h1 style="font-weight: 700;">{{ category.title }}</h1>
        </div>
    </div>
    <div class="container">
        {% if topPosts and topPosts | length > 3 %}
            {% set topPost, news2, news3, news4 = topPosts[0][0], topPosts[1][0], topPosts[2][0], topPosts[3][0]  %}
            <div class="top-news text-center">
                <div class="top-post">
                <div class="post-container">
                    <a href="{{ path('post.show', {id: topPost.id, slug: topPost.slug}) }}">
                        {% if topPost.picture %}
                        <img src="{{ vich_uploader_asset(topPost.picture, 'imageFile') | imagine_filter('medium') }}" alt="">
                        {% else %}
                        <img src="{{ '/images/noimage.png' | imagine_filter('medium') }}" alt="" title="{{ topPost.title }}">
                        {% endif %}
                    </a>
                </div>
                <div class="post-infos">
                    <div class="post-infos-head">
                    <h3>
                        {{ topPost.title }}
                    </h3>
                    </div>
                    <div class="post-infos-details">
                    <a href="{{ path('profil.show', {id: topPosts[0].authorId }) }}">
                        <span class="post-author">
                        {% if posts[0].pseudo is not null %}
                            {{ posts[0].pseudo }}
                        {% else %}
                            {{ posts[0].username }}
                        {% endif %}
                        </span>
                    </a>
                    <span>-</span>
                    <span>
                        {{ topPost.createdAt | ago }}
                    </span>
                    </div>
                </div>
                </div>
                <div class="last-news">
                <div class="top-news-2">
                    <div class="post-container">
                    <a href="{{ path('post.show', {id: news2.id, slug: news2.slug}) }}">
                        {% if news2.picture %}
                            <img src="{{ vich_uploader_asset(news2.picture, 'imageFile') | imagine_filter('medium') }}" alt="">
                        {% else %}
                            <img src="{{ '/images/noimage.png' | imagine_filter('medium') }}" alt="" title="{{ news2.title }}">
                        {% endif %}
                    </a>
                    </div>
                    <div class="post-infos">
                    <div class="post-infos-head">
                        <h6>
                        {{ news2.title }}
                        </h6>
                    </div>
                    </div>
                </div>
                <div class="top-news-3">
                    <div class="post-item">
                    <div class="post-container">
                        <a href="{{ path('post.show', {id: news3.id, slug: news3.slug}) }}">
                            {% if news3.picture %}
                            <img src="{{ vich_uploader_asset(news3.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                            {% else %}
                            <img src="{{ '/images/noimage.png' | imagine_filter('thumb') }}" alt="" title="{{ news3.title }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="post-infos">
                        <div class="post-infos-head">
                        <h6>
                            {{ news3.title }}
                        </h6>
                        </div>
                    </div>
                    </div>
                    <div class="post-item">
                    <div class="post-container">
                        <a href="{{ path('post.show', {id: news4.id, slug: news4.slug}) }}">
                            {% if news4.picture %}
                            <img src="{{ vich_uploader_asset(news4.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                            {% else %}
                            <img src="{{ '/images/noimage.png' | imagine_filter('thumb') }}" alt="" title="{{ news4.title }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="post-infos">
                        <div class="post-infos-head">
                        <h6>
                            {{ news4.title }}
                        </h6>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        {% endif %}
        <br>
        <div class="scroll-div mb-2"></div>
        <div class="row">
            <div class="col-md-8 top-articles js-home">
                <div class="js-home-content" style="position: relative;">
                    {% include "category/_categoryPosts.html.twig" %}
                </div>
                <div class="pagination justify-content-center js-home-pagination">
                    {% include "category/_categoryPagination.html.twig" %}
                </div>
            </div>
            <div class="col-md-4 article-reminder">
                {{ sidebar() }}
            </div>
        </div>
        <br>
        {#<div class="pub-2 mb-5">
            <span class="td-adspot-title mb-1">- Publicité -</span>
            {{ topPub() }}
        </div>#}
    </div>
{% endblock %}