<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}RPFI | Accueil{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Grands Lacs News est un média d'informations et actualités de la sous-région des Grands Lacs en particulier et de la RDCongo en général">
        <meta http-equiv="content-language" content="fr">
        <meta name="language" content="fr">
        <meta name="copyright" content="//grandslacsnews.com">
        <meta name="author" content="Job KAKULE">
        <meta name="apple-mobile-web-app-status-bar-style" content="#78AB4E">
        <meta name="keywords" content="vidéos,médias,formations,goma,congo">
        
        {% block metadata %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="https://www.grandslacsnews.com/">
        <meta name="twitter:author" content="@jobkakule2">
        <meta name="twitter:title" content="Grands Lacs News">
        <meta name="twitter:description" content="Grands Lacs News est un média d'informations et actualités de la sous-région des Grands Lacs en particulier et de la RDCongo en général">
        <meta name="twitter:image" content="/images/logo.png">

        <meta property="og:site_name" content="www.grandslacsnews.com">
        <meta property="og:title" content="Grands Lacs News">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.grandslacsnews.com/">
        <meta property="og:language" content="fr">
        <meta property="og:image" content="/images/logo.png">

        {% endblock %}
        <link rel="icon" href="/images/siteicon.ico">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,900|Roboto:400,500,700,900&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('js/tagsinput/tagsinput.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.7/flatpickr.css">
        {% endblock %}
    </head>
    <body>
        <div class="topBar">
            <div>
                <a href="tel:+243994135005" class="phone">+243 994 135 005</a>
                <a href="mailto:tdjack79@gmail.com">tdjack79@gmail.com</a>
            </div>
        </div>
        <div>
            {% block body %}{% endblock %}
            <footer class="footer p-5">
                <div>
                    <div class="row">
                        <div class="col-md-2 logo-footer">
                            <a href="{{ path('home') }}">
                                <img src="/images/logo.png" alt="Grands Lacs News" title="Grands Lacs News" width="100%">
                            </a>
                            <div class="user-infos mt-3 mb-5">
                                {% if is_granted('ROLE_EDITOR') %}
                                <span><a href="{{ path('admin.index') }}" style="color: rgb(172, 194, 255)">Administration</a></span>
                                {% endif %}
                                {% if app.user %}
                                <span><a href="{{path('profil.show', {id: app.user.id})}}">
                                    <div style="width: 50px; display:inline-block;">
                                        {% if app.user.filename %}
                                            <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="{{ app.user.username }}" style="border-radius: 50%;">
                                        {% else %}
                                            <img src="https://1.gravatar.com/avatar/f14e046fc73f0f06b36ce29864b33120?s=200&r=pg&d=mm" alt="{{ app.user.username }}" style="border-radius: 50%;">
                                        {% endif %}
                                    </div>
                                    Mon compte
                                </a></span>
                                <span><a href="/logout" style="color: rgb(248, 104, 104)">Déconnexion</a></span>
                                {% else %}
                                <span><a href="{{ path('login') }}">Inscription/Connexion</a></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>à propos de nous</h4>
                            <p>
                                Congo Films Academy est un Centre de formation audiovisuel Congolaise, pour la formation aux arts et métiers du Cinéma, avec des programmes d'éducation informelle à travers des ateliers intensifs de jour et une composante pratique élevée dans tous les domaines du cinéma. <br>
                            </p>
                            <p>
                                Nous mettons en place des formations généralistes en Audiovisuel qui donne aux étudiants l’accès d’utiliser les matériels (pour Images, Son et Montage).
                            </p>
                            <p>
                                Ces formations sont assurées par la société RPDFi en partenariat avec La semaine du cinéma au Kivu.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h4>Nos adresses</h4>
                            <ul class="fa-ul"> 
                            <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>9, Av. Salongo, Q. MABANGA, Karisimbi, Goma, RDCongo</li>
                            <li><span class="fa-li"><i class="fas fa-phone-alt"></i></span>+243 994 135 005</li>
                            <li style="word-wrap:break-word;"><span class="fa-li"><i class="far fa-envelope"></i></span>tdjack79@gmail.com</li>
                            </ul>
                            Suivez-nous également sur :
                            <span><a href="https://web.facebook.com/Semaine-du-cinema-au-kivu-429672300457924"><i class="fab fa-facebook-f"></i></a>
                            <span><a href="https://twitter.com/GrandsLacsNews"><i class="fab fa-twitter"></i></a>
                            <span><a href="https://www.youtube.com/channel/UCB0erOivnkO7jkdHFQ_pa7Q"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="gotop">
                <i class="fas fa-arrow-circle-up fa-3x text-primary"></i>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.locales.min.js"></script>

        {{ encore_entry_script_tags('app') }}
        <script src="{{ asset('build/app.js') }}"></script>
        <script src="https://kit.fontawesome.com/da855b0ce0.js"></script>
        <script>
            var didScroll;
            var lastScrollTop = 0;
            var delta = 5;
            var navbarHeight = $('header').outerHeight();
            
            $(window).scroll(function(event){
                didScroll = true;
            });
            
            setInterval(function() {
                if (didScroll) {
                    hasScrolled();
                    didScroll = false;
                }
            }, 250);
            
            function hasScrolled() {
                var st = $(this).scrollTop();
                
                // Make sure they scroll more than delta
                if(Math.abs(lastScrollTop - st) <= delta)
                    return;
                
                // If they scrolled down and are past the navbar, add class .nav-up.
                // This is necessary so you never see what is "behind" the navbar.
                if (st > lastScrollTop && st > navbarHeight){
                    // Scroll Down
                    $('header').removeClass('nav-down').addClass('nav-up');
                } else {
                    // Scroll Up
                    if(st + $(window).height() < $(document).height()) {
                        $('header').removeClass('nav-up').addClass('nav-down');
                    }
                }
                lastScrollTop = st;
            }
        </script>
        <script>
          window.setTimeout(function() {
              $(".alert").fadeTo(500, 0).slideUp(500, function(){
                  $(this).remove(); 
              });
          }, 4000);
        </script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
