<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Grands Lacs News | Accueil{% endblock %}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Magazine d'informations et actualités de la sous-région des Grands Lacs en particulier et de la RDCongo en général">
        <meta http-equiv="content-language" content="fr">
        <meta name="language" content="fr">
        <meta name="copyright" content="//grandslacsnews.com">
        <meta name="author" content="Job KAKULE">
        <meta name="apple-mobile-web-app-status-bar-style" content="#78AB4E">
        <meta name="keywords" content="actualités,informations,news,goma,grandslacs,congo,media">
        <!-- <script data-ad-client="ca-pub-5317542016635903" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
        {% block metadata %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="https://www.grandslacsnews.com/">
        <meta name="twitter:author" content="@jobkakule2">
        <meta name="twitter:title" content="Grands Lacs News">
        <meta name="twitter:description" content="Magazine d'informations et actualités de la sous-région des Grands Lacs en particulier et de la RDCongo en général">
        <meta name="twitter:image" content="/images/logo.png">

        <meta property="og:site_name" content="grandslacsnews.com">
        <meta property="og:title" content="Grands Lacs News">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.grandslacsnews.com/">
        <meta property="og:language" content="fr">
        <meta property="og:image" content="/images/logo.png">

        {% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,900|Roboto:400,500,700,900&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="icon" href="/images/favicon.ico">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('js/tagsinput/tagsinput.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.7/flatpickr.css">
        {% endblock %}
    </head>
    <body>
        <div class="site-container">
            <div id="p">
            </div>
            <div class="top-title">
                <div class="container">
                    <div class="top-left">
                        <i class="fas fa-cloud"></i>
                        <span>Goma, RDCongo</span>
                        <span>{{ "now" | localizeddate('long', 'none') }}</span>
                        <span><a href="{{ path('home.contact') }}">Contact</a></span>
                        {% if is_granted('ROLE_EDITOR') %}
                        <span><a href="{{ path('admin.index') }}" style="color: rgb(172, 194, 255)">Administration</a></span>
                        {% endif %}
                        {% if app.user %}
                        <span><a href="{{path('profil.show', {id: app.user.id})}}">
                            <div style="width: 30px; display:inline-block;">
                                {% if app.user.filename %}
                                    <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="{{ app.user.username }}" style="border-radius: 50%;">
                                {% else %}
                                    <img src="https://1.gravatar.com/avatar/f14e046fc73f0f06b36ce29864b33120?s=200&r=pg&d=mm" alt="{{ app.user.username }}" style="border-radius: 50%;">
                                {% endif %}
                            </div>
                            Mon compte
                        </a></span>
                        <span><a href="/logout" style="color: rgb(248, 104, 104)">Déconnexion</a></span>
                        {% else %}
                        <span><a href="{{ path('login') }}">Inscription/Connexion</a></span>
                        {% endif %}
                    </div>
                    <div class="top-right">
                        Suivez-nous :
                        <span><a href=""><i class="fab fa-facebook-f"></i></a>
                        <span><a href=""><i class="fab fa-twitter"></i></a>
                        <span><a href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="header__logo container">
                <div class="top-logo">
                    <a href="{{ path('home') }}">
                        <img src="/images/logo.png" alt="Grands Lacs News" title="Grands Lacs News">
                    </a>
                </div>
                <div class="pub">
                    {{ topPub() }}
                </div>
            </div>
            <header class="header nav-down">
                <a href="#" class="header__icon" id="header__icon"></a>
                <div class="logo-mobile" style="padding-right:53px;">
                    <img src="/images/whitelogo.png" alt="Grands Lacs News" title="Grands Lacs News" style="margin:auto;">
                </div>
                <div class="container">
                    <nav class="menu">
                        {% set categories = cat.findAll() %}
                        {% set cat1, cat2, cat3, cat4, cat5, cat6, cat7 = categories[0], categories[1], categories[2], categories[3], categories[4], categories[5], categories[6] %}
                        <ul>
                            {% if post.category.slug is defined %}
                                {% set category_slug = post.category.slug %}
                                {% if (category_slug == cat6.slug) or (category_slug == cat7.slug) %}
                                    {% set category_slug = 'video' %}
                                {% endif %}
                                {% set current_menu = category_slug %}
                            {% endif %}
                            {% if (current_menu == cat6.slug) or (current_menu == cat7.slug) %}
                                {% set current_menu = 'video' %}
                            {% endif %}
                            {% set var = false %}
                            {% for c in categories | slice(7, 10) %}
                                {% set var = var or (current_menu == c.slug) %}
                            {% endfor %}
                            <!-- <a href="{{ path('home') }}">
                                <img src="/images/logo.png" alt="Grands Lacs News" title="Grands Lacs News">
                            </a> -->
                            <li class="{% if current_menu == 'news' %}active{% endif %}">
                                <a href="{{ path('home') }}">News</a>
                            </li>
                            <li class="{% if current_menu == cat1.slug %}active{% endif %}">
                                <a href="{{ path('category.show', {id: cat1.id, slug: cat1.slug}) }}">
                                    {{ cat1.title }}
                                </a>
                            </li>
                            {% set resultActive = '' %}
                            {% if (current_menu == cat2.slug) or var %}
                                {% set resultActive = 'active' %}
                            {% endif %}
                            <li class="sub-menu {{ resultActive }}">
                                <a class="dropdown-label" href="{{ path('category.show', {id: cat2.id, slug: cat2.slug}) }}">{{ cat2.title }}<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    {% for cat in categories |slice(7, 20) %}
                                        <a href="{{ path('category.show', {id: cat.id, slug: cat.slug}) }}">
                                            <li>{{ cat.title }}</li>
                                        </a>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="{% if current_menu == cat3.slug %}active{% endif %}">
                                <a href="{{ path('category.show', {id: cat3.id, slug: cat3.slug}) }}">{{ cat3.title }}</a>
                            </li>
                            <li class="{% if current_menu == cat4.slug %}active{% endif %}">
                                <a href="{{ path('category.show', {id: cat4.id, slug: cat4.slug}) }}">{{ cat4.title }}</a>
                            </li>
                            <li class="sub-menu {% if current_menu == 'video' %}active{% endif %}">
                                <a href="{{ path('video.index') }}">Vidéos<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <a href="{{ path('category.show', {id: cat6.id, slug: cat6.slug}) }}">
                                        <li>{{ cat6.title }}</li>
                                    </a>
                                    <a href="{{ path('category.show', {id: cat7.id, slug: cat7.slug}) }}">
                                        <li>{{ cat7.title }}</li>
                                    </a>
                                </ul>
                            </li>
                            <li class="{% if current_menu == cat5.slug %}active{% endif %}">
                                <a href="{{ path('category.show', {id: cat5.id, slug: cat5.slug}) }}">{{ cat5.title }}</a>
                            </li>
                            <li class="login-link">
                                {% if app.user %}
                                <div class="mb-0">
                                    <a href="{{path('profil.show', {id: app.user.id})}}" title="Mon compte">
                                        <div>
                                            {% if app.user.filename %}
                                                <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="Mon compte" style="border-radius: 50%; border: 2px solid rgba(255, 255, 255, 0.651); width:50px">
                                            {% else %}
                                                <img src="https://1.gravatar.com/avatar/f14e046fc73f0f06b36ce29864b33120?s=200&r=pg&d=mm" alt="Mon compte" style="border-radius: 50%; border: 2px solid rgba(255, 255, 255, 0.733); width:50px">
                                            {% endif %}
                                        </div>
                                    </a>
                                </div>
                                <div class="mt-0">
                                    <span style="font-size: 12px;font-weight:normal;">
                                        <a href="/logout">Déconnexion | </a>
                                        {% if is_granted('ROLE_EDITOR') %}
                                        <a href="{{ path('admin.index') }}" style="color: rgb(172, 194, 255)">Administration</a>
                                        {% endif %}
                                    </span>
                                </div>
                                {% else %}
                                <a href="{{ path('login') }}">Connexion/Inscription</a>
                                {% endif %}
                                <div class="top-right">
                                    <span><a href=""><i class="fab fa-facebook-f"></i></a>
                                    <span><a href=""><i class="fab fa-twitter"></i></a>
                                    <span><a href=""><i class="fab fa-youtube"></i></a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="search-icon" style="z-index: 5;">
                        <a href="" class="search-link">
                            <i class="fas fa-search"></i>
                        </a>
                        <div class="search-bar" id="search-bar">
                            
                            <form action="{{ path('home') }}" method="get">
                                <div class="form-row align-items-end">
                                    <div class="col-9 pr-0">
                                        <input type="text" name="query" class="form-control" placeholder="Entrer un mot-clé">
                                    </div>
                                    <div class="col-3 pl-0">
                                        <button class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            {#{% if form is defined and form.query is defined %}
                                {{ form_start(form) }}
                                <div class="form-row align-items-end">
                                    <div class="col-9 pr-0">{{ form_widget(form.query) }}</div>
                                    <div class="col-3 pl-0">
                                        <button class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            {% endif %}#}
                        </div>
                    </div>
                </div>
            </header>
            <div class="site-content" style="position: relative;">
                {% block body %}{% endblock %}
                <footer class="footer">
                    <div class="container clear-container">
                        {{ footer() }}
                        <a style="color: #fff;" class="text-center" href="{{ path('post.index') }}">Explorer nos articles</a>
                        <hr>
                        <div class="row">
                        <div class="col-md-2 logo-footer">
                            <img src="/images/whitelogo.png" alt="Grands Lacs News" title="Grands Lacs News">
                        </div>
                        <div class="col-md-6">
                            <h4>à propos de nous</h4>
                            <p>
                                La Synergie pour la Lutte Antimines (SYLAM en sigle) est une a.s.b.l de droit congolais, de caractère apolitique et agréée par l’Arrêté Provincial N°01/088/CAB/GP-NK/2011 et la requête de l’obtention de la personnalité juridique N° F92/33.619 du N° JUST./SG/20/770/2019 conformément à la loi Congolaise .
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h4>Nos adresses</h4>
                            <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>188, Avenue de la Paix, Q. Himbi, Ville de Goma, Nord-Kivu, RD Congo</li>
                            <li><span class="fa-li"><i class="fas fa-phone-alt"></i></span>+243(0)975843988, +243(0)993821940</li>
                            <li style="word-wrap:break-word;"><span class="fa-li"><i class="far fa-envelope"></i></span>contact@grandslacsnews.com</li>
                            </ul>
                            Suivez-nous également sur :
                            <span><a href=""><i class="fab fa-facebook-f"></i></a>
                            <span><a href=""><i class="fab fa-twitter"></i></a>
                            <span><a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                        </div>
                        <hr>
                        <div class="copyright text-center">
                            {% set year = "now"|date("Y") %}
                            &copy;G-L&#9865;News, {{ year }}-{{ year + 1 }}
                        </div>
                    </div>
                </footer>
                <div class="gotop">
                    <i class="fas fa-arrow-circle-up fa-3x"></i>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.locales.min.js"></script>

        {{ encore_entry_script_tags('app') }}
        <script src="{{ asset('build/app.js') }}"></script>
        <script src="{{ asset('js/tagsinput/typeahead.js') }}"></script>
        <script src="{{ asset('js/tagsinput/tagsinput.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="https://kit.fontawesome.com/da855b0ce0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.7/flatpickr.js"></script>
        
        <script>
            timeago().render(document.querySelectorAll('.timeago'), 'fr')
        </script>
        <script>
          flatpickr('.datepicker', {
            enableTime: true,
            altInput: true,
            altFormat: 'j F Y, H:i',
            dateFormat: 'Y-m-d H:i:S'
          })
        </script>

        <script>
            var didScroll;
            var lastScrollTop = 0;
            var delta = 5;
            var navbarHeight = $('header').outerHeight();
            
            $(window).scroll(function(event){
                didScroll = true;
            });
            
            setInterval(function() {
                if (didScroll) {
                    hasScrolled();
                    didScroll = false;
                }
            }, 250);
            
            function hasScrolled() {
                var st = $(this).scrollTop();
                
                // Make sure they scroll more than delta
                if(Math.abs(lastScrollTop - st) <= delta)
                    return;
                
                // If they scrolled down and are past the navbar, add class .nav-up.
                // This is necessary so you never see what is "behind" the navbar.
                if (st > lastScrollTop && st > navbarHeight){
                    // Scroll Down
                    $('header').removeClass('nav-down').addClass('nav-up');
                } else {
                    // Scroll Up
                    if(st + $(window).height() < $(document).height()) {
                        $('header').removeClass('nav-up').addClass('nav-down');
                    }
                }
                lastScrollTop = st;
            }
        </script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
