<div id="comments">
    <br>
    <div class="cat-high-title social-panel-title">
        <h6>{{ post.comments | length }} Commentaire{% if post.comments | length > 1  %}s{% endif %}</h6>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% if not form.vars.valid %}
        <div class="alert alert-danger">Veuillez remplir les champs avec les bonnes informations</div>
    {% endif %}
    <div class="comment-section">
        {{ form_start(form, {'attr': {'id': 'form-comment', 'action': '#comments'}}) }}
            {% if app.user %}
            <div style="display: none;">
                {{ form_row(form.author, {'attr': {'value': app.user.username}}) }}
                {{ form_row(form.email, {'attr': {'value': app.user.email}}) }}
            </div>
            {% else %}
            <div class="row">
                <div class="col-md-6">{{ form_widget(form.author, {'attr': {'placeholder': 'Nom'}}) }}</div>
                <div class="col-md-6">{{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}</div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">{{ form_widget(form.content, {'attr': {'rows': 5, 'placeholder': 'Votre commentaire ici...'}}) }}</div>
            </div>
            <div style="display: none;">{{ form_row(form.parent_id, {'attr': {'value': 0}}) }}</div>
            {{ form_rest(form) }}
            <div class="form-group">
                <button class="btn btn-primary">Envoyer</button>
            </div>
        {{ form_end(form) }}
    </div>
    <div class="#comments">
        {% for comment in post.comments | sort((b, a) => date(a.createdAt) <=> date(b.createdAt)) %}
            {% if comment.parentId < 1 %}
            <div>
                <div id="comment-{{ comment.id }}" class="comment row" style="background-color: #f4f4f4;border: 1px solid #ebebeb;font-size: .9em;">
                    <img src="https://1.gravatar.com/avatar/f14e046fc73f0f06b36ce29864b33120?s=200&r=pg&d=mm" alt="Auteur" width="100%" class="comment-avatar">
                    <div style="margin: 5px 0 0 5px;">
                        <p>
                            <strong>{{ comment.author }}</strong> - 
                            <span class="text-muted" style="font-size: 75%;"><em>{{ comment.createdAt | date("d F, Y  H:i") }}</em></span> - 
                            <span class="reply" data-id="{{ comment.id }}" data-parent="{{ comment.id }}" style="font-size: 75%;color:rgba(72, 151, 253, 0.973);text-decoration: underline;cursor:pointer;">Répondre</span>&nbsp;
                            {% if app.user and comment.email == app.user.email %}
                            <a href="{{ path('comment.delete', {id: comment.id}) }}" comment-delete style="font-size: 75%; text-decoration:underline; color: red;" data-token="{{ csrf_token('delete' ~ comment.id) }}" data-id="{{ comment.id }}" onsubmit="return confirm('Etes-vous vraiment sûr ?')">Supprimer</a>
                            {% endif %}
                        </p>
                        <p>
                            {{ comment.content }}
                        </p>
                    </div>
                </div>
                <br>
                {% for reply in post.comments %}
                    {% if reply.parentId > 0 and reply.parentId == comment.id %}
                    <div style="padding-left: 70px; font-size: .9em;">
                        <div id="comment-{{ reply.id }}" class="comment row" style="background-color: #f4f4f4;border: 1px solid #ebebeb;">
                            <img src="https://1.gravatar.com/avatar/f14e046fc73f0f06b36ce29864b33120?s=200&r=pg&d=mm" alt="Auteur" width="100%" class="comment-avatar">
                            <div style="margin: 5px 0 0 5px;">
                                <p>
                                    <strong>{{ reply.author }}</strong> - 
                                    <span class="text-muted" style="font-size: 75%;"><em>{{ reply.createdAt | date("d F, Y  H:i") }}</em></span> - 
                                    <span class="reply" data-id="{{ comment.id }}" data-parent="{{ reply.id }}" style="font-size: 75%;color:rgba(72, 151, 253, 0.973);text-decoration: underline;cursor:pointer;">Répondre</span>&nbsp;
                                    {% if app.user and reply.email == app.user.email %}
                                    <a href="{{ path('comment.delete', {id: reply.id}) }}" comment-delete style="font-size: 75%; text-decoration:underline; color: red;" data-token="{{ csrf_token('delete' ~ reply.id) }}" data-id="{{ reply.id }}" onsubmit="return confirm('Etes-vous vraiment sûr ?')">Supprimer</a>
                                    {% endif %}
                                </p>
                                <p>
                                    {{ reply.content }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
</div>