{% set excludedPosts = [] %}
{% for p in topPosts | slice(0, 5) %}
    {% set post = p[0] %}
    {% set excludedPosts = excludedPosts | merge([post.id]) %}
{% endfor %}
{% for last in lastPosts | slice(3, 3) %}
    {% set post = last[0] %}
    {% set excludedPosts = excludedPosts | merge([post.id]) %}
{% endfor %}
{% set others = [] %}
{% for p in posts %}
    {% set post = p[0] %}
    {% if post.id not in excludedPosts %}
        {% set others = others | merge([p]) %}
    {% endif %}
{% endfor %}
<div id="spinner-none" class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none;">
    <div class="sr-only">Chargement...</div>
</div>
{% for p in others | slice(0, 5) %}
{% set post = p[0] %}
<div class="row cat-item-post" id="post-{{ post.id }}">
    <div class="col-md-4 item-thumb">
        <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
            {% if post.picture %}
            <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
            {% else %}
            <img src="{{ '/images/noimage.png'| imagine_filter('thumb') }}" alt="" title="{{ post.title }}">
            {% endif %}
        </a>
    </div>
    <div class="col-md-8 item-details">
        <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}"><h5>{{ post.title }}</h5></a>
        <div class="cat-post-infos">
            <span class="td-post-author-name">
            <a href="{{ path('profil.show', {id: p.authorId }) }}">
                {% if p.pseudo is not null %}
                {{ p.pseudo }}
                {% else %}
                {{ p.username }}
                {% endif %}
            </a>
            <span>
            </span> - </span>
            {#<span class="td-post-date">{{ post.createdAt | localizeddate('long', 'none') }}</span>#}
            <span class="td-post-date">{{ post.createdAt | ago }}</span>
            <div class="td-module-comments">
            <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}#comments">{{ p.commentsNb }}</a>
            </div>
        </div>
        <div class="cat-post-excerpt">
            {{ post.content | striptags | truncate(200) }}
        </div>
    </div>
</div>
{% endfor %}