<div class="card-mt-4">
    <div class="cat-post-img">
        {% if post.picture %}
            <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="" class="card-img-top">
            </a>
        {% else %}
            <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                <img src="{{ '/images/noimage.png' | imagine_filter('thumb') }}" alt="" class="card-img-top">
            </a>
        {% endif %}
        {% if is_granted('ROLE_EDITOR') %}
            <a class="post-menu" href="{{ path('admin.post.edit', {id: post.id}) }}"><i class="fas fa-ellipsis-v"></i></a>
        {% endif %}
        <a href="{{ path('category.show', {id: p.id, slug: post.category.slug}) }}" class="item-cat">{{ p.title }}</a>
    </div>
    <div class="card-body cat-post-body pt-0 pl-0 pr-0">
        <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}"><h5>{{ post.title }}</h5></a>
        <div class="cat-post-infos">
        <span class="td-post-author-name">
            <a href="{{ path('profil.show', {id: p.authorId }) }}">
            {% if p.pseudo is not null %}
                {{ p.pseudo }}
            {% else %}
                {{ p.username }}
            {% endif %}
            </a> 
        <span>
        </span> - </span>
        <span class="td-post-date">{{ post.createdAt | ago }}</span>
        <div class="td-module-comments"><a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}#comments">{{ p.commentsNb }}</a></div>
        </div>
        <div class="cat-post-excerpt">
        {{ post.content | striptags | truncate(100) | raw }}
        </div>
    </div>
</div>