<div class="card-mt-4">
    {% if post.picture %}
        <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="" class="card-img-top">
    {% else %}
        <img src="{{ '/images/noimage.png' | imagine_filter('thumb') }}" alt="" class="card-img-top">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                {{ post.title }}
            </a>
        </h5>
        {{ post.content | truncate(200) }}
    </div>
</div>