{% extends "base.html.twig" %}

{% block title 'Recherche '~ q ~ ' | Grands Lacs News' %}

{% block body %}
    <div class="container min-container mt-1">
        <div class="crumb">
            <span>
            <a href="{{ path('home') }}">Accueil</a>
            </span>
            <i class="fas fa-chevron-right"></i>
            <span>
                <a>Recherche</a>
            </span>
            <i class="fas fa-chevron-right"></i>
            <span>
            <a>{{ q }}</a>
            </span>
        </div>
        <div class="row">
            <div class="col-md-8">
                <br>
                <h1 class="entry-title">
                    <span class="td-search-query">{{ q }}</span>
                        - 
                    <span>Résultats de la recherche</span>
                </h1>
                <div>
                    <form action="{{ path('home') }}" method="get">
                        <div class="form-row align-items-end">
                            <div class="col-10 pr-0">
                                <input type="text" name="query" class="form-control" placeholder="Entrer un mot-clé" value="{{ q }}">
                            </div>
                            <div class="col-2 pl-0">
                                <button class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                {% if posts is not empty %}
                    <div class="top-articles">
                    {% for p in posts %}
                    {% set post = p[0] %}
                        <div class="row cat-item-post">
                        <div class="col-md-4 item-thumb">
                            <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}">
                            {% if post.picture %}
                                <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" alt="">
                            {% else %}
                                <img src="{{ '/images/noimage.png'| imagine_filter('thumb') }}" alt="" title="{{ post.title }}">
                            {% endif %}
                            </a>
                        </div>
                        <div class="col-md-8 item-details">
                            <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}"><h5>{{ post.title }}</h5></a>
                            <div class="cat-post-infos">
                            <span class="td-post-author-name">
                                <a href="">
                                {% if p.pseudo is not null %}
                                    {{ p.pseudo }}
                                {% else %}
                                    {{ p.username }}
                                {% endif %}
                                </a>
                            <span>
                            </span> - </span>
                            <span class="td-post-date">{{ post.createdAt | ago }}</span>
                            <div class="td-module-comments">
                                <a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}#comments">{{ p.commentsNb }}</a>
                            </div>
                            </div>
                            <div class="cat-post-excerpt">
                            {{ post.content | striptags | truncate(200) }}
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="pagination justify-content-center">
                        {{ knp_pagination_render(posts) }}
                    </div>
                {% elseif posts is empty and q | length < 4 %}
                    <br>
                    <h1 class="entry-title" style="color:#f44336;">
                        Entrer un mot-clé d'au moins 3 caractères
                    </h1>
                    <br>
                    <hr>
                {% else %}
                    <br>
                    <h1 class="entry-title">
                        Aucun résultat pour votre recherche.
                    </h1>
                    <br>
                    <hr>
                    <br>
                    <h1 class="entry-title" style="color:#777; font-size: 1.5rem;">Mais vous pouvez lire les derniers articles du site :</h1>
                    <div class="row last-articles">
                        {{ lastPosts() }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4  article-reminder">
                {{ sidebar() }}
            </div>
            <br>
        </div>
        <div class="pub-2">

        </div>
        <br>
    </div>

{% endblock  %}