{% extends "base.html.twig" %}
{% block title 'Administration des publicités' %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les publicités</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin: 0px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <div class="text-right">
            <a href="{{ path('admin.pub.new') }}" class="btn btn-primary">Ajouter une publicité</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
                <tbody>
                    {% for pub in pubs %}
                        <tr>
                            <td>{{ pub.title }}</td>
                            <td>{{ pub.promo }}</td>
                            <td>
                                <a href="{{ path('admin.pub.edit', {id: pub.id}) }}" class="btn btn-secondary">Editer</a>
                                <form method="post" action="{{ path('admin.pub.delete', {id: pub.id}) }}" style="display: inline-block;" onsubmit="return confirm('Etes-vous vraiment sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pub.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
        <br>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(pubs) }}
        </div>
        <br>
    </div>
{% endblock  %}